<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./images/logo.jpg" />
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <div class="about-header">
            <div class="about-header-left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="about-header-right">
                <button class="glow-on-hover" type="button" onclick="window.location.href='index.html'"><i class="fa fa-arrow-left"></i>  Back to Feed</button>
            </div>
        </div>
        <div>
            <div class="about-body-header">
                <p>About Us</p>
            </div>
            <div>
                <div class="about-body-content">
                    <div style="border-style: dotted;">
                        <p>
                            BuzzTalk is a micro-blog in Indian languages. We are here to help people express themselves in the easiest way possible with the objective of democratizing their voice. Share your thoughts in text and images.
                        </p>
                        <p>
                            Some of the most prominent faces of the World uses BuzzTalk. You will also find millions of others from all walks of life. BuzzTalk is home to the Voices of the World. Follow people you like, know what's on their mind and share your thoughts with others too.
                        </p>
                        <p>
                           <center> Let's BuzzTalk together! </center>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="allfooterdetails" style="width: 100%;">
                <div></div>
                <div><a href="./about.html">About</a></div>
                <div><a href="./contact.html">Contact Us</a></div>
                <div><a href="./faq.html">FAQ</a></div>
                <div><a href="./privacy.html">Privacy</a></div>
                <div><a href="./guidelines.html">Guidelines</a></div>
                <div></div>
            </div>
            <div style="width: 100%;"  class="allfooterdetails-copy" >
                <center>Copyright BuzzTalk 2021 &copy;</center>
            </div>
        </footer>
    </body>
</html>
