<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./images/logo.jpg" />
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <div class="about-header">
            <div class="about-header-left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="about-header-right">
                <button class="glow-on-hover" type="button" onclick="window.location.href='index.html'"><i class="fa fa-arrow-left"></i>  Back to Feed</button>
            </div>
        </div>
        <div>
            <div class="about-body-header">
                <p>Contact Us</p>
            </div>
            <div>
                <div class="about-body-content">
                    <div>
                        <p>
                            <h2>Have a general enquiry?</h2>
                            Reach us on: <a href="mailto:hello@buzztalk.com">hello@buzztalk.com</a>
                        </p>
                        <hr style="border-top: 1px dashed #ffcc66;">
                        <p>
                           <h2>Want to work with us?</h2>
                           Reach us on: <a href="mailto:jobs@buzztalk.com">jobs@buzztalk.com</a>
                        </p>
                        <hr style="border-top: 1px dashed #ffcc66;">
                        <p>
                            <h2>Any complaints?</h2>
                            Reach us on: <a href="mailto:redressal@buzztalk.com">redressal@buzztalk.com</a>
                        </p>
                        <hr style="border-top: 1px dashed #ffcc66;">
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="allfooterdetails" style="width: 100%;">
                <div></div>
                <div><a href="./about.html">About</a></div>
                <div><a href="./contact.html">Contact Us</a></div>
                <div><a href="./faq.html">FAQ</a></div>
                <div><a href="./privacy.html">Privacy</a></div>
                <div><a href="./guidelines.html">Guidelines</a></div>
                <div></div>
            </div>
            <div style="width: 100%;"  class="allfooterdetails-copy" >
                <center>Copyright BuzzTalk 2021 &copy;</center>
            </div>
        </footer>
    </body>
</html>
