<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./images/logo.jpg" />
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <div class="about-header">
            <div class="about-header-left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="about-header-right">
                <button class="glow-on-hover" type="button" onclick="window.location.href='index.html'"><i class="fa fa-arrow-left"></i>  Back to Feed</button>
            </div>
        </div>
        <div>
            <div class="about-body-header">
                <p>Frequently Asked Questions</p>
            </div>
            <div>
                <div class="about-body-content about-body-content-align">
                    <div>
                        <p>
                           <h2 style="color:#ffcc66">ACCOUNT SETTINGS</h2>
                           <h3>Q. Edit Proﬁle Picture?</h3>
                                You can edit your profile picture by going to Profile > Edit Profile > . You can upload your photo from your gallery. For editing other details, you can fill it manually in each sections in the same page.<br><br>
                            <h3>Q. How to Post a Feed?</h3>
                                It is made simple as you can either click on the top input box or from the left side in the feed or home page. You will be redirected to a special page that allows you to post a feed by writing your thoughts and uploading images.
                        </p>
                        <br><hr><br>
                        <p>
                            <h2 style="color:#ffcc66">QUERIES</h2>
                            <h3>Q. My scrolling is not smooth. Can you help?</h3>
                            This issue may occur with certain devices. Please reach out to <a href="mailto:redressal@buzztalk.com">redressal@buzztalk.com</a> for more information. We are also constantly working to improve user experience.
                            <h3>Q. Why is the app slow?</h3>
                            In our recent update we have released a faster and better UI. . Please check your internet speed, clear your cache files or restart the phone. If the problem still persists, kindly drop us an email at <a href="mailto:redressal@buzztalk.com">redressal@buzztalk.com</a> along with your handle and screen recording or screenshot.
                            <h3>Q. I see a lot of abusive/hateful language. What can I do?</h3>
                            Abusive and hateful language is something we do not encourage on BuzzTalk and require all content to comply with our <a href="./guidelines.html" >Community Guidelines</a>. Please use our in app reporting feature to report such BuzzTalk. A review will be made based on legal guidelines and community reporting. To report a BuzzTalk, please use the two dots on the top right corner of a BuzzTalk and from the index choose Report BuzzTalk. A BuzzTalk can be reported for any of the reasons listed in the index.
                            <h3>Q. Someone is impersonating me, what can I do?</h3>
                            If someone is impersonating you then please report such a profile. To report, please use the two dots on the top right corner of a BuzzTalk and from the index choose Report User. A User can be reported for any of the reasons listed in the index including “pretending to be me or someone else”.
                        </p>
                        <br><hr><br>
                        <p>
                            <h2 style="color:#ffcc66">LEGAL</h2>
                            <h3>Q. Where can I ﬁnd information about Compliance and guidelines?</h3>
                            BuzzTalk complies with the Information Technology Act, 2000 and the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021.<br><br>
                            Please read BuzzTalk's <a href="./guidelines.html" >Community Guidelines</a> page for more information. Please write to any of the below for any compliance related questions.<br><br>
                            BuzzTalk Compliance Officer: <a href="mailto:compliance.officer@buzztalk.com">compliance.officer@buzztalk.com</a> BuzzTalk Grievance Officer: <a href="mailto:grievance.officer@buzztalk.com">grievance.officer@buzztalk.com</a>grievance.officer@buzztalk.com                            
                            <h3>Q. Someone is posting nude and/or objectionable or content related to child abuse. How can I report it?</h3>
                            You can report using the "Report BuzzTalk" or "Report User" option within the BuzzTalk App. To report a BuzzTalk, please use the two dots on the top right corner of a BuzzTalk and from the index choose Report BuzzTalk. A BuzzTalk can be reported for any of the reasons listed in the index including Graphic, Obscene or Sexual Content.<br><br>
                            Grievances relating to violation of Rule 3 of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021, including grievances by or on behalf an individual or child, relating to exposure of their private areas, full or partial nudity or depicting such individual or child in any sexual act or conduct, must be addressed to the Resident Grievance Officer at <a href="mailto:grievance.officer@buzztalk.com">grievance.officer@buzztalk.com</a> or emailed to <a href="mailto:redressal@buzztalk.com">redressal@buzztalk.com</a> You can read more about the same on our Compliance page.<br><br>
                        </p>
                        <br><hr><br>
                        <p>
                            <h2 style="color:#ffcc66">CONTACT US</h2>
                            <h3>Q. How can I get in touch with BuzzTalk?</h3>
                            Have a general inquiry? Reach us on: <a href="mailto:hello@buzztalk.com">hello@buzztalk.com</a><br>
                            Want to work with us? Reach us on: <a href="mailto:jobs@buzztalk.com">jobs@buzztalk.com</a><br>
                            Any complaints? Reach us on: <a href="mailto:redressal@buzztalk.com">redressal@buzztalk.com</a><br>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="allfooterdetails" style="width: 100%;">
                <div></div>
                <div><a href="./about.html">About</a></div>
                <div><a href="./contact.html">Contact Us</a></div>
                <div><a href="./faq.html">FAQ</a></div>
                <div><a href="./privacy.html">Privacy</a></div>
                <div><a href="./guidelines.html">Guidelines</a></div>
                <div></div>
            </div>
            <div style="width: 100%;"  class="allfooterdetails-copy" >
                <center>Copyright BuzzTalk 2021 &copy;</center>
            </div>
        </footer>
    </body>
</html>
