<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./images/logo.jpg" />
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <div class="about-header">
            <div class="about-header-left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="about-header-right">
                <button class="glow-on-hover" type="button" onclick="window.location.href='index.html'"><i class="fa fa-arrow-left"></i>  Back to Feed</button>
            </div>
        </div>
        <div>
            <div class="about-body-header">
                <p>Compliance Guidelines</p>
            </div>
            <div>
                <div class="about-body-content about-body-content-align">
                    <div>
                        <p>
                           <h2>Statement of Compliance under the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021</h2><br>
                            <h3>Significant Social Media Intermediary</h3>
                            BTPL is a Significant Social Media Intermediary and has implemented policies and procedures to comply with the requirements of the Information Technology (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021 (hereinafter the “Rules”).

                            <h3>Due Diligence</h3>
                            <ol type="a">
                            <li>BTPL’s Privacy Policy, Terms & Conditions (collectively BuzzTalk Policies”) are available on its website as well as within the BuzzTalk App. BTPL informs users of any changes in the BuzzTalk Policies at least once in a calendar year. Similarly, BuzzTalk also informs users, at least once in a calendar year, that in case of non-compliance of BuzzTalk Policies, BuzzTalk may terminate the access or the usage rights of the users immediately or remove non-compliant information or both as the case may be.</li><br>
                            <li>In addition to other requirements prescribed by the Rules, BuzzTalk Policies specifically prohibit users from publishing content that is (i) invasive of another’s bodily privacy or harmful or harassing on the basis of gender especially children; or (ii) is patently false or misleading but appearing as a fact; or (iii) impersonates or deceives or is false with the intention of causing injury or wrongful loss or harassment, wrongful gain or fraud; or (iv) threatens the unity, integrity, defence, security or sovereignty of India, or (v) violates any law. BuzzTalk will endeavour to deploy technology-based measures, including automated tools or other mechanisms to proactively identify content which falls within the above categories and others.</li><br>
                            <li>Orders by a court of competent jurisdiction or Appropriate Government or its agency for takedown or any other purposes should be addressed for compliance to the Resident Grievance Officer with a copy to Nodal Contact Officer and Chief Compliance Officer (contact details below).</li><br>
                            <li>BTPL will remove or disable access to any stored, hosted or published information within 36 hours of receipt of court order or notification from Government or its authorized agencies that states that such information is unlawful or prohibited under law in relation to the interest of the sovereignty and integrity of India, security of State, etc. as stated in the Rules.</li><br>
                            <li>On receipt of a written order for information from a lawfully authorized government agency clearly stating the purpose for which it is required, BTPL shall provide such information or assistance in its control or possession to the government authority within 72 hours.</li><br>
                            <li>In compliance with the Rules, (i) registration information from a user shall be retained by BTPL for a period of 180 days from the date of cancellation or withdrawal of his registration; and (ii) information which has been removed or to which access has been disabled shall be retained by BTPL for a period of 180 days for investigation purpose or for such longer period as may be required by the Court or by authorized Government Agencies.</li><br>                            
                            </ol>


                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="allfooterdetails" style="width: 100%;">
                <div></div>
                <div><a href="./about.html">About</a></div>
                <div><a href="./contact.html">Contact Us</a></div>
                <div><a href="./faq.html">FAQ</a></div>
                <div><a href="./privacy.html">Privacy</a></div>
                <div><a href="./guidelines.html">Guidelines</a></div>
                <div></div>
            </div>
            <div style="width: 100%;"  class="allfooterdetails-copy" >
                <center>Copyright BuzzTalk 2021 &copy;</center>
            </div>
        </footer>
    </body>
</html>
