<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="login-box">
            <h2>Login</h2>
            <form action="validateUser" method="post">
              <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
              </div>
              <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
              </div>
              <!--<a href="#">
                <span></span>
                <span></span> 
                <span></span>
                <span></span>
                Submit
              </a> -->
              <input class="submit-btn" type="submit" value="Submit" />
            </form>
          </div>
    </body>
</html>