<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BuzzTalk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="./images/logo.jpg" />
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        <div class="about-header">
            <div class="about-header-left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="about-header-right">
                <button class="glow-on-hover" type="button" onclick="window.location.href='index.html'"><i class="fa fa-arrow-left"></i>  Back to Feed</button>
            </div>
        </div>
        <div>
            <div class="about-body-header">
                <p>Our Privacy Policies</p>
            </div>
            <div>
                <div class="about-body-content about-body-content-align">
                    <div>
                        <p>This Privacy Policy was last updated on 6th December, 2021.</p>
                        <p>
                            Bombinate Technologies Pvt. Ltd. (<b>Company, we, our, us</b>) takes your privacy very seriously. This Privacy Policy (Privacy Policy) describes the usage of information provided or disclosed to the Company, which may be inclusive of your personal information, and also brings to your notice the rights which are afforded to you as per the terms of this Privacy Policy. Our Privacy Policy is in accordance with the applicable laws in the jurisdictions we offer our Services in. All capitalized terms that have not been specifically defined herein shall have the same meaning as provided under the Terms of Use. <br><br>                        
                            By accessing, downloading, or using the website or the allied mobile application, BuzzTalk App (Application) you agree to be governed by this Privacy Policy.
                            <br><br>
                            <h3><b>1. SCOPE</h3>
                            1.1.</b> This Privacy Policy applies to the Services, Application, or any online application or service that refers to or links to this Privacy Policy. This Privacy Policy applies regardless of whether you have downloaded or accessed or used the Application from your mobile telephone or handheld device or any other computer resource to access our Services.
                            <br><br>
                            <b>1.2.</b> BuzzTalk is a public, microblogging platform. The users acknowledge and understand that any content (including their user handle, profile picture and published posts) created by the users, is publicly available and searchable by anyone around the world. It is advised that the Users do not post any personal (or sensitive) personal information in a BuzzTalk. You should be careful of what you are posting on the Application, for the updates will be reflected in your feed and will be visible to other Users of the Application, or anyone else who accesses our Services, depending upon the privacy setting specifically chosen by you for your account.
                            <br><br>
                            <b>1.3.</b> You acknowledge and agree that by providing public Content on BuzzTalk, you are authorizing and advising us to disclose that information on the Application and allow for wide circulation. When you are using hashtags, our APIs, and that of other third-party service providers will also have access to such information. We do not govern the operations of these entities, and you may be required to adhere to their policies, hence, we urge you to refer to their policies and familiarize yourself with the same, prior to engaging with such third-party platforms.
                            <br><br>
                            <h3><b>2. WHEN WE SHARE YOUR INFORMATION</h3>
                            2.1 </b>We may share any information with our trusted partners or third parties who provide us with infrastructure support services, for meeting the obligations agreed to between you and us. We may also share aggregated, non-personally identifiable information publicly and with our partners, like publishers, advertisers or connected sites to show trends about the general use of our Services. We will seek your consent prior to using or sharing your personal information for any other purpose, if so, identified at a later stage.<br><br>
                            <b>2.2 </b>We may also use your information to perform analytics and conduct customer research, to determine your interest, for identifying content that generate sales and to analyze traffic patterns.<br><br>
                            <b>2.3</b> We also use your information to market to you as per the laws of your country, and to the extent permissible.<br><br>
                            <h3><b>3. DISCLOSURE OF INFORMATION</h3>
                            3.1</b> We may also disclose your Personal Information only:<br><br>
                            <b>i.</b> As required by law, such as to comply with a judicial order, executive orders, requirement by a law enforcement authority, or by other legal processes.<br>
                            <b>ii.</b> When your desired products and services can only be provided if your personal information is disclosed.<br>
                            <b>iii.</b> When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, or, investigate fraud or crime.<br>
                            <b>iv.</b> If we (or our affiliates) are involved in a merger, acquisition, or sale of all or substantially all of its assets or equity.<br><br>
                            <b>3.2</b> We will never rent or sell your personally identifiable information to others.<br><br>
                            <b><h3>4. USER RIGHTS ON BUZZTALK</h3></b>
                            We want to ensure that you are fully empowered on our platform and are completely aware of the rights that you are entitled to in the course of using our platform. You have a number of rights in relation to the information we hold about you.<br><br>
                            <b>i. Access.</b> The right to access the information we hold about you, and to obtain details of the processing. You also have the right to access a list of all the third parties that have your Personal Information through us.<br>
                            <b>ii. Rectification.</b> The right to seek, correct, update and modify the information available with us, to ensure accuracy.<br>
                            <b>iii. Cancellation.</b> The right to seek to cancel or erase, free of charge, your personal data when it is inadequate, excessive, or unnecessary. This shall be subject to the lawful processing measures.<br>
                            <b>iv. Objection.</b> The right to withdraw your consent to our continued processing of the information, at any point of time, subject only to any legitimate reason for continued processing in certain circumstances.<br>
                            <b>v. Portability.</b> The right to seek from us your personal data to be provided to another service provider, in a machine-readable format.<br><br>
                            You may exercise any of these rights by writing to us at redressal@buzztalk.com This shall be subject to the legal requirements, and our internal procedure.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        <footer>
            <div class="allfooterdetails" style="width: 100%;">
                <div></div>
                <div><a href="./about.html">About</a></div>
                <div><a href="./contact.html">Contact Us</a></div>
                <div><a href="./faq.html">FAQ</a></div>
                <div><a href="./privacy.html">Privacy</a></div>
                <div><a href="./guidelines.html">Guidelines</a></div>
                <div></div>
            </div>
            <div style="width: 100%;"  class="allfooterdetails-copy" >
                <center>Copyright BuzzTalk 2021 &copy;</center>
            </div>
        </footer>
    </body>
</html>
